*{box-sizing: border-box}

body {
  font-family: "Lucida Grande";
  background-color: #454E9E;
  color: #ED6C31;
  font-weight: bold;
  background-image:  url("./logo.png");
  background-position: 95% 120px;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 1px #D7598B;
}

h1 {
  font-size: 3rem;
  margin: 0 20px 30px 30px;
  padding-top: 40px;
  border-bottom: #ED6C31 3px solid;
}

nav {
  width: 100%;
  overflow: hidden;
  text-align: left;
}

button {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 17px;
  width: 400px;
  height: 100px;
  margin: 20px 0 30px 0;
  background-color: #D7598B;
  color: #FCC219;
  border: #FFFFFF 1px solid;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px 3px #FFFFFF;
}

button:focus {
  outline: 0;
}

main:focus {
  outline: 0;
}

.bm-burger-button {
  position: fixed;
  width: 40px;
  height: 40px;
  right: 45px;
  top: 45px;
  background-color: #FCC219;
  background-image: url("hamburger.png");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  border: #FFFFFF 1px solid;
}

.bm-menu {
  background-color: #D7598B;
}

.bm-morph-shape {
  fill: #D7598B;
}

main button {
  border: #FFFFFF 1px solid;
  position: fixed;
  top: 20px;
  left: 20px;
}

.bm-cross-button {
  background-color: #FCC219;
  background-image: url("cross-symbol.png");
  background-position: center;
  background-size: 10px;
  background-repeat: no-repeat;
  border-radius: 12px;
  border: #FFFFFF 1px solid;
}

.bm-cross-button:hover {
  cursor: pointer;
  background-color: #ED6C31;
  box-shadow: 1px 1px 4px 3px #FFFFFF;
}

h2 {
  position: fixed;
  left: 30px;
  top: 120px;
  width: 800px;
  border-bottom: #ED6C31 2px solid;
  padding-right: 300px;
  font-style: italic;
}

a {
  text-decoration: none;
  color: #FCC219;
  font-size: 1.5rem;
  padding: 2px 15px 2px 2px;
  display: block;
  width: fit-content;
  margin: 17% 0 0 5%;
}

a:hover {
  text-decoration: underline;
  border-radius: 3px;
  color: #FFFFFF;
}

.activity {
  margin: 115px 30px 0 30px;
  padding: 15px 15px 35px 0;
}

.activity div {
  max-width: 100%;
  overflow: hidden;
}

.activity a {
  font-size: 1.9rem;
  font-weight: 900;
  text-shadow: 2px 2px 2px #D7598B;
  margin: 10px 0 0 0;
  width: 600px;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .activity {
    /*background-color: rgba(255, 255, 255, 0.3);*/
    padding: 15px 15px 15px 15px;
    border-radius: 17px;
    width: 80%;
    overflow: auto;
  }
}

@media screen and (max-width: 540px) {
  body {
    background-position: center 120px;
  }
}