*{box-sizing: border-box}

body {
  font-family: "Lucida Grande";
  background-color: #F7D002;
  color: #454E9E;
  font-weight: bold;
}

h1 {
  font-size: 3rem;
  margin: 40px 20px 20px 20px;
  border-bottom: #454E9E 3px solid;
}

nav {
  text-align: right;
  padding-bottom: 5px;
}

nav h3 {
  margin-right: 30px;
  font-style: italic;
  font-size: 1.5rem;
}

ul {
  float: right;
  margin: 0 20px 30px 0;
  border-bottom: #454E9E 2px solid;
}

li {
  list-style: none;
  float: left;
  margin-right: 20px;
  padding-bottom: 6px;
}

button {
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 17px;
  border: #454E9E 2px solid;
  width: 30%;
  height: 100px;
  text-align: center;
  margin: 2% 0 6% 0;
  background-color: #AD343e;
  color: #F7D002;
}

button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 4px 3px #AD343e;
}

a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  font-size: 1.1rem;
  padding: 2px 2px 2px 2px;
  border: #F7D002 solid 3px;
}

a:hover {
  text-decoration: underline;
  border-radius: 3px;
  color: #AD343e;
}

.activity {
  text-align: center;
}

.activity a {
  font-size: 1.9rem;
  font-weight: 900;
  width: max-content;
}